.container {
    display: flex;
    flex-direction: row;
    
    .row {
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
        
        .cell {
            height: 32px;
            width: 32px;
            text-align: center;
            line-height: 32px;
            border-top: 1px solid #000;

            user-select: none;
            cursor: pointer;
            
            &.mine {
                background-color: red;
            }

            &.closed {
                text-indent: -1000px;
                background-color: #fff;
            }

             &.flag {
                 background-color: yellow;
             }
        }
    }
    
    .row:first-child {
        border-left: 1px solid #000;
    }
}