@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

$border: 1px solid #333;
$map-size: 16;
$cell-size: 32px;

.container {
  display: flex;
  flex-flow: row wrap;
  width: $cell-size * $map-size + $map-size;

  margin: 64px auto;

  border-left: $border;
  border-bottom: $border;
  border-radius: 4px;

  .cell {
    font-family: 'Major Mono Display', monospace;

    height: $cell-size;
    width: $cell-size;
    text-align: center;
    line-height: $cell-size;

    border-top: $border;
    border-right: $border;

    user-select: none;
    cursor: pointer;

    box-shadow: 0px 5px 2px 2px rgba(34, 60, 80, 0.1) inset;

    &.mine {
      &.opened {
          border-radius: 2px;
          //animation: burn 1000ms ease-out forwards;
      }
    }

    &.closed {
      background-color: #ddd;
      color: #ddd;
      box-shadow: none;
    }

    &.flag {
      background-color: #ddd;
      box-shadow: none;
    }
  }

  &.finished {
      animation: burn 1000ms ease-out forwards;
      
      .cell {
          cursor: default;
      }
  }
}

@keyframes flare {
  100% {
    transform: translateY(-20px) scale(1.5);
    filter: blur(10px);
    opacity: 0;
  }
}

@keyframes burn {
  0% {
    color: rgba(255, 130, 110, 1);
    background: rgba(255, 230, 110, 1);
    box-shadow: 0 0 5px 0 rgba(200, 0, 10, 1), 0 0 5px 0 rgba(230, 30, 10, 0.8),
      0 0 5px 0 rgba(230, 230, 10, 0.6);
  }

  50% {
      background: rgba(255, 130, 110, 1);
  }

  /*
  100% {
    color: rgba(0, 0, 0, 1);
    background:  rgba(255, 130, 110, 1);
    box-shadow:
      0 -35px 40px 30px rgba(255, 130, 10, 0),
      0 -30px 30px 10px rgba(230, 30, 10, 0),
      0 -20px 10px 0 rgba(255, 255, 10, 0);
  }
  */
  100% {
    color: rgba(0, 0, 0, 1);
    background:  rgba(255, 130, 110, 1);
    box-shadow:
      0 0 40px 30px rgba(255, 130, 10, 0),
      0 0 30px 10px rgba(230, 30, 10, 0),
      0 0 10px 0 rgba(255, 255, 10, 0);
  }
}
