$border: 1px solid #000;
$map-size: 16;
$cell-size: 32px;

.container {
  display: flex;
  flex-flow: row wrap;
  width: $cell-size * $map-size + $map-size;

  margin: 32px auto;

  border-left: $border;
  border-bottom: $border;

  .cell {
    height: $cell-size;
    width: $cell-size;
    text-align: center;
    line-height: $cell-size;

    border-top: $border;
    border-right: $border;

    user-select: none;
    cursor: pointer;

    &.mine {
      background-color: rgb(235, 67, 57);
    }

    &.closed {
      background-color: #ddd;
      color: #ddd;
    }

    &.flag {
        background-color: #ddd;
    }
  }
}
